.App {
    background-color: rgb(43, 43, 43);
    background-image: url("../src/assets/img/Rexsi/Full_Banner_w_Fade.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    z-index: 0;
}