.tier-label {
    color: black
}

.tierlist {
    background-color: grey;
    border: double black 2px;
    border-radius: 3%;
}

.none {
    background-color: white;
    border: double black 2px;
    border-radius: 5%;
}