* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  //   width: 100%;
  //   height: 100%;
}

// .container {
//   justify-content: center;
// }

.drop-area {
  background: rgba(0, 0, 0, 0.8);
  min-height: 50px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

.item-container {
  border-radius: 50%;
  margin: 2px;
  color: #fff;
  font-weight: 100;
  cursor: move;
  cursor: grab;
  border-radius: 4px;
  transition: background 0.4s;
  &:hover {
    background: rgba(15, 89, 89, 0.9);
  }
}

.item-container,
img {
  border-radius: 50%;
}

.tier-label {
  color: black;
  padding: 20px 0 0 20px;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  font-weight: 100;
}

.tier {
  border-right: double 5px;
  border-bottom: solid 2px;
  margin: 5px;
}

.Warrior {
  border: solid red 2px;
}

.Assassin {
  border: solid yellow 2px;
}

.Guardian {
  border: solid green 2px;
}

.Mage {
  border: solid purple 2px;
}

.Hunter {
  border: solid orangered 2px;
}
